.btn {
    display: inline-block;
    padding: 1.5rem 3rem;

    border: 3px solid #FFFFFF;
    border-radius: 5rem;

    font-weight: bold;
    font-size: 1.6rem; 
    text-transform: uppercase;

    &--back {
        padding: 2rem 3rem;
        color: $secondary;
        border-color: $secondary;
    }

    &--more {
        display: flex;
        align-items: center;
        margin: 3rem auto 0 auto;
        text-transform: none;
        background: transparent;
        color: $secondary;
        border-color: $secondary;
        transition: all .2s ease-in;

        img {
            width: 2rem;
            transform: rotate(-90deg);
            margin-left: 1rem;
        }

        &:hover {
            background: $secondary;
            color: $white;
        }
    }

    .load-more {
        animation: rotate 1s;
    }

    @keyframes rotate {
        100% {
            transform: rotate(90deg);
        }
    }

    .load-more-back {
        animation: rotate-back 1s;
    }

    @keyframes rotate-back {
        100% {
            transform: rotate(-90deg);
        }
    }
}