.portfolio {
    padding: 8rem 0 12rem 0;

    &__wrapper {
        margin-top: 7rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        flex-wrap: wrap;
    }

    &__item {
        padding: 2rem;
        background-color: $white;
        box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
            transform: scale(1.05);
            color: darken($secondary, 10%);
        }

        &-image {
            margin-bottom: 2rem;    
        }

        &-title {
            font-weight: 600;
            font-size: 2.4rem;
            line-height: 130%;
            margin-bottom: 1.3rem;
        }

        &-descr {
            font-size: 1.6rem;
            line-height: 130%;
        }
    }

}