.resume {
    padding-top: 120px;
    .tac {
        text-align: center;
    }
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 440px);
        column-gap: 130px;
    }
    &__column {
        &-title {
            text-align: left;
            position: relative;
            padding-left: 43px;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;
                background-color: $main-color;
                border-radius: 100%;
            }
        }
        .title {
            margin-bottom: 0;
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -8px;
                    left: 7px;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            height: 1px;
            width: 38px;
            position: absolute;
            top: 68px;
            left: 7px;
            background-color: #000;
        }
        &-head {
            padding: 45px 0 0 100px;
            position: relative;
        }
        &-icon {
            position: absolute;
            top: 50px;
            left: 45px;
            @include before_circle;
            img {
                position: absolute;
                top: 15px;
                left: 16px;
            }
        }
        &-location {
            font-size: 12px;
            line-height: 18px;
        }
        &-body {
            padding-left: 45px;
            margin-top: 12px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}

.carousel {
    &__inner {
        position: relative;
        img {
            width: 100%;
            max-height: 400px;
            object-fit: contain;
            margin: 0 auto;
        }
    }
    .slick-dots { // Стилизуем точки(dots) у слайдера, класс задали через js
        display: flex;
        text-align: center;
        justify-content: center;
        list-style: none;
        font-size: 0;
        button {
            background: #D0D0D0;
            border: none;
            border-radius: 50%;
            height: 16px;
            width: 16px;
            margin: 5px;
            outline: none;
        }
    }
    .slick-dots li[class="slick-active"] button {
        background: $main-color;
    }
    .slick-dots li {
        &::after {
            display: none;
        }
    }
}

